/*Start General Rules*/
:root {
--Dark-cyan: hsl(158, 36%, 37%);
--Very-Dark-cyan: hsl(159, 39%, 15%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: var(--Cream);
    font-family: 'Montserrat', sans-serif;
    font-size:  14px;
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}
main {
    margin: 2rem;
}
.one {
    height: 100%;
}
/*End General Rules*/


/*Start Head*/
.head {
    width: 80%;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}
.head p {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: var(--Dark-grayish-blue) ;
    margin-bottom: 1rem;
    font-size: smaller;
}
.head h1 {
    font-family: 'Fraunces', serif;
    color: var(--Very-dark-blue);
}
/*End Head*/

/*Start Text*/
.text {
    width: 100%;
}
.text p {
    line-height: 1.7;
    color: var(--Dark-grayish-blue);
    font-size: 13px;
    padding-bottom: 1rem;
}
.price {
    display: flex;
    margin-bottom: 0.5rem;
}
.price span {
    font-family: 'Fraunces', serif;
    color: var(--Dark-cyan);
    font-size: 30px;
}
del {
    color: var(--Dark-grayish-blue);
    align-self: center;
    margin-left: 1rem;
    font-size: 0.7rem;
}
/*End Text*/

button {
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Dark-cyan);
    color: var(--White);
    width: 100%;
    padding: .8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: var(--Very-Dark-cyan);
}
button i {
    margin-right: 0.5rem;
}

/*Start Responsive Styles*/
@media (max-width: 376px) {
    body {
        width: 375px;
        flex-direction: column;
        justify-content: none;
    }
    .container {
        position: relative;
        flex-direction: column;
        width: 81%;
        height: 90%;
    }
    .one {
        display: none;
        }
    main {
        margin: 1rem;
    }
    .head {
        width: 90%;
        margin-bottom: 1rem;
    }
    .head h1 {
        font-size: 25px;
    }
 }
 @media (min-width: 376px) {
    .two {
        display: none;
    }
}
/*End Responsive Styles*/

